$(function(){
    $("#answer_type").empty()
            .append("<div id='partial_new_answer_type'><%= escape_javascript(render(:partial => "matrix_answers/form", :locals => {:type => @matrix_answer}))%></div>")
            .show("slow");
});