<p>
  <strong>Width:</strong>
  <%=h text_answer_field.width.present? ? text_answer_field.width : "default (400)" %>
  <strong>Rows:</strong>
  <%=h text_answer_field.rows.present? ? text_answer_field.rows : "default (1)" %>
</p>