$(function(){
    $("#answer_type").empty()
            .append("<div id='partial_new_answer_type'><%= escape_javascript(render(:partial => "multi_answers/form", :locals => {:type => @multi_answer}))%></div>")
            .show("slow");
});