$(function(){
  $("#answer_type").empty()
  .append("<div id='partial_new_answer_type'><%= escape_javascript(render(:partial => "text_answers/form", :locals => {:type => @text_answer}))%></div>")
  .show("slow");
});
