<p><%=t('user_mailer.questionnaire_submitted.admin_line', :user => h(@user.full_name), :questionnaire => @questionnaire.title(@questionnaire.user.language))%></p>
<p>---------------- <br /><%=t('user_mailer.admin_footer')%>
