<div class="span-24 last" id="content">

  <div id="content_header">
    <%= render :partial => "administration/menu", :locals => {:header => "Reminder", :include_options => "administration"} -%>
  </div>
  <%= render :partial => 'reminders/form' %>
</div>
