<div class="span-24 last" id="content">

  <div id="content_header">
    <%= render :partial => "administration/menu", :locals => {:header => "Reminders", :include_options => nil} -%>
  </div>
  <%= render :partial => 'reminders/form' %>
</div>
