<div class="clear">
  <div class="page-header">
    <h3><%= t("user_edit.roles") %></h3>
  </div>
  <ul>
    <%= hidden_field_tag "user[role_ids][]", "" %>
    <% for role in Role.order_by_index %>
      <li>
        <%= check_box_tag "user[role_ids][]", role.id, (@user.role? role.name.to_sym), {id: "user_#{role.id}", class: "#{role.name}-box" } %>
        <label><%=h role.name.titleize %></label>
      </li>
    <% end -%>
  </ul>
</div>
