<p>
  <strong>Maximum value:</strong> <%= answer_type.max_value %><br />
  <strong>Minimum value:</strong> <%= answer_type.min_value %><br />
</p>
<p>
  <input type="text" name="answer<%=answer_type.id%>" size="25"/>
</p>
