<li id="li_section_<%= append_identifier(section, loop_item.try(:id)) %>" class="<%= ( section.depends_on_option && !section.dependency_condition_met?(current_user, loop_item.id) ) ? "hide" : "" %>">
  <span style="float:left; width:10em">
  <%= link_to h(section.value_in(:tab_title, @authorization[:language], loop_item)), submission_section_path(section.id, :params => {:loop_item_id => loop_item.id, :user_delegate => params[:user_delegate]}), :title=> "section content #{section.id.to_s + "_" + loop_item.sort_index.to_s}", :class=>'test' %>
  </span>
  <span id="img<%=section.id.to_s + "_#{loop_item.sort_index}"%>" style="padding-top:5px; padding-right: 5px; float:right;"></span>
</li>
