<div class="page-header">
<h2>Structure Ordering</h2>
</div>

<p>
<strong>Questionnaire:</strong>
  <%= link_to @questionnaire.title, dashboard_questionnaire_path(@questionnaire) %>
</p>

<div class="row group">
  <div class="col col-6 border-right">
    <div class="page-header">
      <h5>Rules for moving the tree nodes</h5>
    </div>
    <div class="moving-nodes-rules">
      <ul>
        <li>The root node can't be moved</li>
        <li>All objects can be re-ordered with their siblings</li>
        <li>Questions can not be moved to the root of the tree</li>
        <li>Questions with loop item types or extra information regarding loop items associated can not change parent</li>
        <li>Sections can not be moved inside their own descendants</li>
        <li>Sections can not be moved if they are of looping type</li>
        <li>Sections can not be moved if they have extra information regarding loop items associated with them</li>
      </ul>
    </div>
  </div>

  <div class="col col-6">
    <div class="demo" id="demo"></div>
  </div>
</div>


<div class="span-24 last">
  <div id="content_header">
    <%= render :partial => "administration/menu", :locals => {:header => "Questionnaire structure ordering", :include_options => "questionnaires"} -%>
  </div>
  <div id="questionnaire" class="no_dialog"></div>
  <div class="span-9 last" id="q_dashboard">
    <div class="page-header"><h5>Nodes info</h5></div>
    <div id="node_info_container">
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#demo").bind('move_node.jstree', function(e, data){
            var moved_node = data.rslt.o;
            //var position = data.rslt.p;
            var new_parent = data.rslt.np;
            var cp = data.rslt.cp;
            $.ajax({ url: RAILS_ROOT+"/questionnaires/<%= @questionnaire.id %>/move_questionnaire_part/",
                type: 'put',
                dataType: 'script',
                data: {
                    node_id: moved_node.attr("id"),
                    new_parent: new_parent.attr("id"),
                    position_index: cp
                },
                success: function(){
                    flash_message("notice", "Move successful");
                },
                error: function(){
                    flash_message("error", "Move is not possible");
                }
            })
        }).bind('hover_node.jstree', function(e, data){
            var selected_node = data.rslt.obj;
            if(selected_node.attr("id") != "root")
                $.ajax({ url: RAILS_ROOT+"/questionnaire_parts/" +selected_node.attr("id")+"/node_move_information/",
                    type: 'get',
                    dataType: 'script'
                })
        }).jstree({
            "crrm": {
                "move" : {
                    "check_move" : function(m) {
                        var old_parent = m.ot._get_parent(m.o);
                        var new_parent = m.np;
                        if( old_parent.attr("id") == new_parent.attr("id") )
                            return true;
                        if(new_parent.attr("id") == "root" && m.o.attr("is_question") == "true")
                            return false;
                        if(m.o.attr('display_in_tab') == 'true' && new_parent.attr('looping_branch') == 'true')
                            return false;
                        return (m.o.attr("movable") == "true" && new_parent.attr("targetable") == "true");
                    }
                }
            },
            "ui": {
                "select_limit" : 1
            },
            "json_data" : {
                "ajax" : {
                    "url" : RAILS_ROOT + "/questionnaires/<%= @questionnaire.id %>/jstree"
                }
            },
            "plugins" : [ "themes", "types", "json_data", "ui", "crrm", "dnd"]//, "contextmenu" ]
        })
    })
</script>
