<div class="span-24 last" id="content">
  <%= render :partial => "administration/breadcrumbs" -%>
  <%= render :partial => "administration/menu", :locals => {:header => "Roles", :include_options => nil} -%>
  <%= render :partial => 'form' %>
  <p><%= link_to "Back to List", roles_path %></p>
</div>
