<div class="answer_type_field_languages">
  <% if answer_type_field -%>
      <p><strong>Help Text: </strong> <%= raw answer_type_field.help_text %></p>
  <% end -%>
</div><!-- /section_languages -->
