/* COLOUR PALETTE */

$grey-100: #333;
$grey-84: #555;
$grey-73: #696969;
$grey-33: #BCBCBC;
$grey-18: #DADADA;
$grey-10: #ECECEC;
$grey-5: #F5F5F5;
$grey-3: #FAFAFA;

$blue: #335DB0;
$blue-dark: #294A8D;
$blue-light: #5C7DC0;
$blue-lighter: #89B3D9;
$indigo: #6D00D9;
$blue-bg: #F5F7FB;

$warning: #B05A06;
$warning-bg: #FFF8E5;
$warning-light: #BC732B;
$warning-dark: #964D05;
$error: #D80000;
$error-bg: #FDF2F2;
$error-light: #E24040;
$error-dark: #B80000;
$success: #007F00;
$success-bg: #F2F9F2;
$success-light: #409F40;
$success-dark: #006C00;

$white: #fff;

$shape-color: #113183;
