<hr class="space"/>
<div class="footer" >
  <hr />
  <div class="container">
    <div class="span-24 last">
      <div style="float:right">
        <label style="font-size:smaller;float:left;"> <%= t("welcome_page.developed_by")%> &nbsp;</label>
        <%= link_to image_tag('UNEP WCMC_blue3.jpg'), "http://www.unep-wcmc.org" %>
      </div>
    </div>
  </div>
</div><!-- /footer -->
