<% if current_user %>
  <div id="navigation">
    <div class="row" id="nav-level-1">
      <div class="container">
        <ul>
          <li><%= main_nav_link_with_class t("user_dashboard.submission_d"), root_path %></li>

          <% if current_user.role?(:admin) %>
            <li><%= main_nav_link_with_class "Administration dashboard", administration_path %></li>
          <% elsif current_user.role?(:respondent_admin) %>
            <li><%= main_nav_link_with_class "Administration dashboard", respondent_admin_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
    <%= subnavigation %>
  </div>
<% end %>
